* {
  box-sizing: border-box;
}

body {
  background-color: #001422;
  margin: 0;
 
  font-family: "Montserrat", sans-serif;
  color: white;
}

.main {
   overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 16vh;
}
.circle {
  position: absolute;
  border-radius: 100%;
}

.circle-1 {
  height: 120px;
  width: 120px;
  background-image: radial-gradient(
    69.62% 69.62% at 50% 50%,
    #ea8bfa 0%,
    #7526f5 100%
  );
  top: -50px;
  left: -50px;
}

.circle-2 {
  height: 360px;
  width: 360px;
  background-image: radial-gradient(
    63.76% 63.76% at 50% 50%,
    #ff00c7 0%,
    #bd95ff 0.01%,
    #a661ff 32.29%,
    #6100ff 98.59%
  );
  top: -125px;
  right: -260px;
}

.circle-3 {
  height: 220px;
  width: 220px;
  background-image: radial-gradient(
    67.47% 67.47% at 50% 50%,
    #fed0ff 0%,
    #7f00ff 100%
  );
  bottom: -100px;
  left: -155px;
}

.card-container {
  position: relative;
  height: 520px;
  width: 400px;
  background-image: linear-gradient(
    148deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.card {
  height: 520px;
  max-width: 400px;
  background-image: linear-gradient(
    148deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 18px;
}

.card-image {
  width: 100%;
  vertical-align: middle;
}

.card-content {
  border: 0.744px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.tag-heart-container {
  display: flex;
  justify-content: space-between;
}

.tag {
  color: #ffd147;
  font-family: Montserrat;
  border-radius: 5px;
  padding: 2px 6px;
  padding-top: 6px;
  background: rgba(241, 198, 68, 0.24);
}

.card-title {
  font-size: 18px;
}

.card-subtitle {
  font-size: 12px;
  font-weight: 500;
}

.card-text {
  padding: 24px 18px;
}

.star-rating {
  display: flex;
  display: inline;
  align-items: center;
}

.star-png {
  width: 119px;
  height: 19px;
  top: 500px;
  left: 368px;
}

.rating-value {
  color: #f1c644;
  font-size: 14px;
  margin-inline: 8px;
  margin-bottom: 5px;
}

.rating-count {
  color: #dbdbdb;
  font-size: 13px;
}

.card-button {
  width: 100%;
  background-color: transparent;
  border: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding-block: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.24);
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
}
